*{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}
/*-----------------------------Header-------------------------------*/
#header{
    width: 100%;
    height: 400px;
    background-image: url("ak2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    top:0px;
    position: relative;
    color: white;
}
.navb{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navb a{
    color:white;
    text-decoration: none;
}
.navb a:hover{
    color: blue;
    transition:2s;
    text-decoration: none;
}
.navb li{
    padding:20px;
    float:left;
    display: block;
    color: white;
}
.navb li:hover{
    border-bottom: 2px solid blue;
    color: blue;
    transition:2s;
}
#header .Selfimg{
    width: 100%;
    height: 180px;
    bottom: -85px;
    display: flex;
    justify-content: center;
    position: absolute;
}
.Selfimg div{
    width: 150px;
    height: 180px;
}
.Selfimg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}
.Introduction{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin:50px 0px;
}
.Intro_name{
    line-height: 30px;
}
.Intro_name h1{
    margin-left: 25px;
}
.Intro_Icon li{
    float: left;
    display: block;
    margin: 20px 25px;
    border-radius: 50%;
    padding: 5px;
}
.Intro_Icon a{
    color: white;
    text-decoration: none;
}
.Intro_Icon a:hover{
    color:black;
    text-decoration: none;
}
.Intro_Icon li:hover{
    color:black;
    background-color: white;
    transition: 1.5s;
}
/*------------------------------------Footer---------------------------*/
#footer{
    padding: 50px 110px;
    width: 100%;
    height:480px;
    background-image: url("ak1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer_head{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom:15px;
}
.footer_head i{
    margin-right: 10px;
}
.footer_body{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 25px;
    
}
.form_footer input{
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color:white;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}
.form_footer textarea{
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color:white;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;  
}
.form_footer button{
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}
.form_footer button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.touchd{
    margin-right: 10px;
    color: white;
    margin-left: 20px;
}
/*-----------------------------Portolio------------------------*/
#Portf{
    width:100%;
    height:auto;
    background-color: #9e9b9b29;
    padding: 25px 50px 15px 50px;
}
#Qual{
    width:100%;
    height:auto;
    background-color: #fff;
    padding: 25px 50px 15px 50px;
}
.protf_heading{
    display: flex;
    justify-content: center;
}
.Qual_heading{
    display: flex;
    justify-content: center;
}
.protf_heading i{
    margin-right: 15px;
}
.Qual_heading i{
    margin-right: 15px;
}
.Portf_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.Portf_div .Card{
    height: 246px;
    width: 393px;
    background-color: black;
    margin: 20px 10px 20px 10px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.Portf_div .Card:hover{
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px rgba(211, 211, 211, 0.144);
    opacity: 0.7;
    transition: 0.5s;
}
.Card p{
    color: white;
    position: absolute;
    bottom: 5px;
    right: 5px;
    left:5px;
    font-size:x-large;
    text-align: center;
    visibility: visible;
    opacity: 1;
    z-index: 10;
}
.Card:hover p{
    visibility: visible;
    transition:0.2s;
    opacity:1;
    z-index: 2;
    color: white;

}
.Card:hover img{
    z-index: -1;
}
.slider{
    top:0px;
    left: 0px;
    width:400%;
    height: 100%;
    position: relative;
    margin: 0;
    
}
.slider:hover{
    animation: 15s sliders infinite;
}
.slider img{
    width:25%;
    height: 100%;
    float:left;
}
@keyframes sliders{
    0%{
        left: 0;
    }
    25%{
        left:-100%;
    }
    50%{
        left:-200%;
    }
    75%{
        left: -300%;
    }
}
/*-------------------------------Qualification---------------*/
.Qual_body{
    margin: 20px 15%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.collage,.Intership,.School{
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color:#9e9b9b09;
    cursor:pointer;
}
.Qual_body h4 i{
    margin-right:5px;
}
.Qual_body p{
    line-height: 1.2rem;
    font-family: 'Times New Roman', Times, serif,cursive !important;
}
.collage{
    align-self:flex-end;
}
.School,.Intership,.collage{
    position: relative;
}      
.School .tooltips,.Intership .tooltips,.collage .tooltips1{
    visibility: hidden;
    width: 60%;
    background-color: black;
    color:white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 0px;
    
}
.School .tooltips,.Intership .tooltips{
    right: 110%;
}
.collage .tooltips1{
    left: 110%;
}
.School .tooltips::after, .Intership .tooltips::after,.collage .tooltips1::after{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    
}
.School .tooltips::after, .Intership .tooltips::after{
    left: 100%;
    border-color: transparent transparent transparent black;
}
.collage .tooltips1::after{
    right: 100%;
    border-color:transparent black  transparent transparent ;
}
.School:hover .tooltips,.Intership:hover .tooltips,.collage:hover .tooltips1{
    visibility: visible;
}
.eff_car{
    position: absolute;
    width:0;
    top: 5%;
    left: 50%;
    border: 2px dashed black;
    height: 90%;
    color: #433E3F;
    
}
.timeline-traveller {
    position: sticky;
    top: 135px;
    z-index: 8;
}
.eff_car i {
    transform: rotate(90deg);
    margin-top: -30px;
    display: block;
    color: #2857a4;
    
}

